<span class='popup standardpopupdecoration'>
    <div><span class='bold'>{#_localStrings.FILE_NAME}</span><span class='elementFilename extrainfo' _dataField='Name'></span>.<span class='elementExtension extrainfo' _dataField='Extension'></span></div>
    <div><span class='bold'>{#_localStrings.SIZE}</span><span class='elementByteSize extrainfo' _dataField='Byte_Size' _type='kb' ></span>{#_localStrings.KB}</div>
    <div><span class='bold'>{#_localStrings.CREATE_DATE}</span><span class='elementCreateDt extrainfo' _dataField='Create_Dt' _type='date' _format='REGULAR'></span></div>
    <div><span class='bold'>{#_localStrings.UPDATE_DATE}</span><span class='elementUpdateDt extrainfo' _dataField='Update_Dt' _type='date' _format='REGULAR'></span></div>
</span>