
<div class='editorTextInputPopup arrowbubble popup'>
    <div class='contentcontainer rounded7px'>
        <div class='elementHeader'></div>
        <div class='caretfix'>
            <textarea class='elementInput' rows='3' ></textarea>
        </div>
        <div class='confirmbuttons'>
            <button class='elementOKButton'></button>
            <button class='elementCancelButton'>{#_localStrings.CANCEL}</button>
        </div>
    </div>
    <img class='comment_arrow' src='images/1x1spacer.gif' />
</div>
