<div class='mnu dropdown editorcategoriesdropdown' tabindex="0">
    <div class='mnuItem caretfix'>
        <input type='text' class='elementInput' maxlength='200'/>
    </div>
    <img class='elementCloseButton icon12x12' alt='{#_localStrings.CLOSE}' title='{#_localStrings.CLOSE}' src='images/1x1spacer.gif' />
    <div class='elementSelectionList'></div>
    <div>
        <div class='elementNewTags'></div>
        <div class='mnuItem confirmbuttons'>
            <button class='elementApply'>{#_localStrings.APPLY}</button>
            <button class='elementCancelButton'>{#_localStrings.CANCEL}</button>
        </div>
    </div>
</div>