<ul name="catcontrols" id="catcontrols">
    <li id="MainControlUnfolderedNotes" >
		<a href="#">{#_localStrings.ALL_NOTES}<span class="elementUnfolderedNotesCount"></span></a>
	</li>
    <!--li id="MainControlStarred" >
		<a href="#">{#_localStrings.IMPORTANT}<span class="elementStarredCount"></span></a>
	</li>   
    <li id="MainControlTagged">
		<a href="#">{#_localStrings.TAGGED}</a>
	</li>   
    <li id="MainControlShared">
		<a href="#">{#_localStrings.SHARED}</a>
	</li-->   
</ul>