/*.notepanecontainer
{
    padding-top: 19px;
}

.ie .notepanecontainer
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;    
}

.notepanecontainer .notepaneheader
{
    margin-top: -19px;
}
*/

#notepaneheader {
	background-color: #eee;
	padding: 5px 10px;
	margin-bottom: 0px;
	-moz-border-radius: 7px 7px 0 0;
	-webkit-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
}

.folders {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.folders > li {
	display: block;
    line-height: 1.5em;
    padding: .25em 1em;
/*	-moz-border-radius: 7px 7px 0 0;
	-webkit-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;*/
	text-decoration: none;
	cursor: pointer;
	background-image: url('../images/folder32.png');
	background-repeat: no-repeat;
	padding-left:30px;
	font-size:12pt;
}

.folders > li:hover {
	background-color: #ddd;
	/*font-weight: bold;*/
	border: none;
}

.folders > li.selected {
	background-color: #eee;
	border: none;
	font-weight: bold;
}

.folders > li > a {
	text-decoration: none;
	color: #000000;
	font-size: 12pt;
}
.folders > li.selected > a {
	color: #333;
	font-weight: bold;
}

.folders > li:hover > a {
	text-decoration: underline;
}

.unfiled {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    font-size:12pt;
}

.unfiled > li {
	display: block;
    line-height: 1.5em;
    padding-left:15px;
/*	-moz-border-radius: 7px 7px 0 0;
	-webkit-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;*/
	text-decoration: none;
	cursor: pointer;
}

.unfiled> li:hover {
	background-color: #ddd;
	/*font-weight: bold;*/
	border: none;
}

.unfiled > li.selected {
	background-color: #eee;
	border: none;
	font-weight: bold;
}

.unfiled > li > a {
	text-decoration: none;
	color: #000000;
	font-size: 12pt;
}
.unfiled > li.selected > a {
	color: #333;
	font-weight: bold;
}

.unfiled > li:hover > a {
	text-decoration: underline;
}

.folder
{
    padding-left:10px;
}
/*
.NotePane
{
    overflow: hidden;
    overflow-y: auto;
    clear: both;
    height: 100%;
	margin: 10px 0 0 0;
}

.opera .NotePane
{   /* Opera doesn't want to take up the entire width by default */
/*    width: 100%;
}
*/
/*
.listview .NotePane
{
    border-left: 1px solid #A8D6E0;
    border-right: 1px solid #A8D6E0;
}
*/

.selectioncommands
{
    border-bottom: 1px solid #A8D6E0;
    padding: 2px 0px 2px 7px;
}

.selectioncommands .elementSelectNone
{
    margin-right: 12px;
}

.selectioncommands .elementMenuOpen
{
    margin-top: -3px;
}

.nonotes .NotePane
{
    border-left: 0px;
    border-right: 0px;
}

.underline
{
    text-decoration: underline;
}


.trashed .elementTrashSelected, .nonotes .selectioncommands, .hidden .elementHiddenSelected,
.starred .elementStarSelected, .public .elementPublicSelected, .trashed .elementStarSelected,
.trashed .elementUnStarSelected, .trashed .elementHiddenSelected, .trashed .elementUnHiddenSelected,
.trashed .elementPublicSelected, .trashed .elementUnPublicSelected, .elementUnTrashSelected,
.listviewcontainer, .expandedviewcontainer, .singlenotecontainer
{
    display: none;
}


.trashed .elementUnTrashSelected
{
    display: inline;
}

.listview .listviewcontainer, .expanded .expandedviewcontainer, .singlenoteview .singlenotecontainer
{
    display:block;
    min-height:1000px;
}

.elementDisplayArrayContainer {
	margin: 0;
	padding: 0;
	list-style: none;
}

a.button {
    background: transparent url('../images/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('../images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 30px 5px 50px;
} 

a.button:hover
{
    text-decoration:none;
}