<li class="note notelistdisplay clearfix">
	<div class="header">
		<span class="date elementCreateDate extrainfo" _dataField="Create_Dt" _type="date" _format="EXPANDINGDATE"></span>
		<span class="date elementUpdateDate extrainfo" _dataField="Update_Dt" _type="date" _format="EXPANDINGDATE"></span>

		<span class="important">
			<img class="icon elementStar icon"src="images/1x1spacer.gif" title="{#_localStrings.IMPORTANT_STATUS}" alt="{#_localStrings.IMPORTANT_STATUS}" />
		</span>

		<h2 class="title extrainfo" _dataField="Title" _type="title" ></h2>
	</div>
	
	<div class="contents">
		<ul class="noteactions">
			<li><a href="#" class="elementDelete">{#_localStrings.DELETE}</a></li>
			<li><a href="#" class="elementCategories">{#_localStrings.TAG}</a></li>
			<li><a href="#" class="elementFolders">{#_localStrings.MOVE}</a></li>
			<li><a href="#" class="elementShare">{#_localStrings.SHARE}</a></li>
		</ul>
		<p class="elementSummary extrainfo" _dataField="Summary" ></p>
	</div>
</li>
