<div class='notepopup popup arrowbubble hide'>
    <div class='contentcontainer rounded7px'>
		<div class='elementTagsInfo line'>
			<img class='elementCategories12x12 icon12x12' src='images/1x1spacer.gif' />
			<span class='bold' >{#_localStrings.TAGS}</span><span class='elementTagsNames tags'></span>
		</div>
		<div class='elementShareOwnerContainer line'>
			<img class='elementShareOwner12x12 icon12x12' src='images/1x1spacer.gif' />
			<span class='bold' >{#_localStrings.SHARED_BY}</span><span class='elementShareOwner  extrainfo' _type='username' _dataField='Share_Owner'></span>
			<span class='bold'>{#_localStrings.SHARE_LEVEL}</span><span class='elementShareLevel extrainfo' _dataSource='m_objBindingInfo' _dataField='Share_Level'></span>
		</div>
		<div class='elementNoteShareInfo line'>
			<img class='elementSharing12x12 icon12x12' src='images/1x1spacer.gif' />
			<span class='elementShareWith'>
				<span class='bold' >{#_localStrings.SHARED_WITH}</span><span class='elementShareWithHeader'></span>
				<span class='elementShareWithNames'></span>
			</span>
			<span class='elementOthersShareWith'>
				<span class='bold' >{#_localStrings.OTHERS_SHARED_WITH}</span><span class='elementOthersShareWithNames'></span>
			</span>
		</div>
		<div class='elementAttachments line'>
			<img class='elementAttachment12x12 icon12x12' src='images/1x1spacer.gif' />
			<span class='bold' >{#_localStrings.ATTACHMENTS}</span><span class='elementAttachmentsNames'></span>
		</div>
    </div>
    <img class='comment_arrow' src='images/1x1spacer.gif' />
</div>
