
<div>
	<div id="notepaneheader">
		<!--ul id="catcontrols">
		</ul-->
		
		
		<span class="elementSortOrderContainer"><!--span class="elementVerticalSeparator">|</span-->{#_localStrings.SORT_ORDER}
			<span class="elementSortOrder" title="{#_localStrings.TOOLTIP_CLICK_CHANGE_ORDER}" alt="{#_localStrings.TOOLTIP_CLICK_CHANGE_ORDER}"><span class="elementSortOrderText"></span><img class="icon elementMenuOpen" src="images/1x1spacer.gif" /></span>
		</span>
		<span class="elementView">{#_localStrings.VIEW}: <span class="elementViewType"></span><img class="icon elementMenuOpen" src="images/1x1spacer.gif" /></span>
		<span class="elementBack"><img src="images/back.png" />{#_localStrings.BACK}<span class="elementViewName"></span></span>
		<!--span class="elementHeaderContainer">
			<span class="elementHeader"></span>
		</span-->
		<span class="PageSelection PageSelectionTop NotePageList" >
			<span class="elementNoteNumbers">
				<span class="multiplenotes">{#_localStrings.NOTES}</span>
				<span class="singlenote">{#_localStrings.NOTE}</span>
				<span class="elementFirstNote"></span>
				<span class="lastnotecontainer">-<span class="elementLastNote"></span></span>{#_localStrings.OF}
				<span class="elementTotalNotes"></span>
			</span>
			<span class="NumberListContainer">:
				<span class="buttonPrevious" title="{#_localStrings.PREVIOUS}"><img src="images/backwardarrow.png" /></span>
				<span class="NumberList NumberListTop"></span>
				<span class="buttonNext" title="{#_localStrings.NEXT}"><img src="images/forwardarrow.png" /></span>
			</span>
		</span>
	</div>
	<div class="NotePane clearfix">
		<p class="elementNoNotesMessage">{#_localStrings.NO_NOTES_FOUND}</p>
		<div class="PageSelection PageSelectionBottom NotePageList line caretfix" >
			<span class="elementNoteNumbers">
				<span class="multiplenotes">{#_localStrings.NOTES}</span>
				<span class="singlenote">{#_localStrings.NOTE}</span>
				<span class="elementFirstNoteBottom"></span>
				<span class="lastnotecontainer">-<span class="elementLastNoteBottom"></span></span>{#_localStrings.OF}
				<span class="elementTotalNotesBottom"></span>
			</span>
			<span class="NumberListContainer">:
				<span class="buttonPrevious" title="{#_localStrings.PREVIOUS}"><img src="images/backwardarrow.png" /></span>
				<span class="NumberList NumberListBottom"></span>
				<span class="buttonNext" title="{#_localStrings.NEXT}"><img src="images/forwardarrow.png" /></span>
			</span>
		</div>        
	</div>
    <div id="externalpage" class="hide"></div>
</div>